* body {
    font-family: 'Mulish', sans-serif;
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px
}

.text-context {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}


.img-thumbnail {
    background: transparent;
    border: none;
}

.nav-all {
    background: #F3F4F6;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.13);
}

.logo-image {
    width: 75px;
    height: 75px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    color: rgb(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 16px;
    transform: translateY(0, 0);
    transition: transform .3s;
}

.nav-link:hover {
    color: rgb(0, 0, 0, 1);
    transition: transform .3s;
    transform: translateY(4px);
}

.button-dashboard {
    background: #A78FFF;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 6px 15px 6px;
}

.button-action {
    transition: transform .3s;
}

.button-action:hover {
    background: #987dfa;
    transition: transform .3s;
    transform: translateY(4px);
}

.title-name {
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    padding-top: 35px;
    padding-bottom: 4px;
    color: #232323;
}

.title-desc {
    font-weight: 400;
    line-height: 35px;
    background: linear-gradient(90deg, #ED9DF1 35%, #4B78F8 55%, #F1CA9D 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}

.btn-contain {
    padding-bottom: 35px;
}
.button-purchase {
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 13px 71px 13px;
    background: #A78FFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

#app {
    background: rgba(243, 244, 246, 0.8);
    box-shadow: inset 0px 3px 9px rgba(0, 0, 0, 0.08);
}

.content-contain {
    padding-top: 68px;
    padding-bottom: 68px;
}